PORT=8080
DB_URI=mongodb://localhost:27017/campuswallet

JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

EMAIL_NAME=your@gmail.com
EMAIL_PASS=your_gmail_app_password

PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:3000
